Repository adambullmer/semantic-commit-emoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  0dc7ab5d42c9ff9449c486c848aa21d6cfc1ca74
Due: none

:bug:fix: Fix package.json according to npm pkg fix
  package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:pencil:docs: Update comment for rationaly of avoiding publishing in semantic release
  release.config.mjs
Due: none

:wrench:chore: Cleanup pre/post pack scripts
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  scripts/postpack.sh
  scripts/prepack.sh
Due: prettier --write

:bookmark:chore: Release v2.0.1 [skip ci]
  packages/commitlint-plugin/package.json
Due: prettier --write

Notes added by 'git notes add'
  cff6ff0cee0e25e2e92f5c9c88eee843881dc60f
Due: none

:bookmark:chore: Release v2.0.2 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  045a361a0d29d4e642bb6cc5b04c7e281acf5e96
Due: none

Notes added by 'git notes add'
  e0e52750979727f8854254cf25421d353f324434
Due: none

:bookmark:chore: Release v2.0.1 [skip ci]
  packages/config/package.json
Due: prettier --write

:bookmark:chore: Release v1.0.2 [skip ci]
  packages/cli/package.json
Due: prettier --write

Notes added by 'git notes add'
  02197612b6acd0cff94b022f59296a89e83981f1
Due: none

:wrench:chore: Update dependency to attempt to break plugins
  package.json
  yarn.lock
Due: prettier --write

:sparkles:feat: Expand to allow module config files
  packages/config/index.ts
Due: eslint --fix

:wrench:chore: Directly depend on conventional-changelog-conventionalcommit preret
  package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Update semantic-release to latest version
  package.json
  yarn.lock
Due: prettier --write

:bug:fix: Specify correct nested dependency in @commitlint/types
  .yarnrc.yml
Due: prettier --write

:wrench:chore: Add release configs to each package
  packages/cli/release.config.mjs
  packages/commitlint-config/release.config.mjs
  packages/commitlint-plugin/release.config.mjs
  packages/config/release.config.mjs
  release.config.mjs
Due: none

:recycle:refactor: Consolidate NPM scripts
  package.json
Due: prettier --write

:bookmark:chore: Release v2.1.0 [skip ci]
  packages/config/package.json
Due: prettier --write

Notes added by 'git notes add'
  656b41ef301ae9296bc72ac4a72a26776ec22213
Due: none

:bug:fix: Add description to package.json manifests
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:bookmark:chore: Release v2.0.2 [skip ci]
  packages/commitlint-plugin/package.json
Due: prettier --write

Notes added by 'git notes add'
  7af7e22618e691f8058cf8255ec4c19c908e96d9
Due: none

:bookmark:chore: Release v2.0.3 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  39be7c3e6739f989ac4fec61e2af647d0741eb71
Due: none

:bookmark:chore: Release v2.1.1 [skip ci]
  packages/config/package.json
Due: prettier --write

Notes added by 'git notes add'
  8117dd9d87062e1243de1963f20c2f7a68ceab53
Due: none

:bookmark:chore: Release v1.0.3 [skip ci]
  packages/cli/package.json
Due: prettier --write

Notes added by 'git notes add'
  c0d5d190139ce25119afe6d989e074da19faa32e
Due: none

:construction_worker:ci: Publish with yarn script instead of with provenance
  .github/workflows/release.yml
  release.config.mjs
Due: prettier --write

:bug:fix: Add keywords to package.json manifests
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:construction_worker:ci: Pass required en var for yarn publishing
  .github/workflows/release.yml
Due: prettier --write

:bookmark:chore: Release v2.0.3 [skip ci]
  packages/commitlint-plugin/package.json
Due: prettier --write

Notes added by 'git notes add'
  2fa273a09b63ee04046fe4ff2f470f4f3e5c97f8
Due: none

:bookmark:chore: Release v2.0.4 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  f39be2b36fae3ef1832e5c57a215794e3c75be03
Due: none

:bookmark:chore: Release v2.1.2 [skip ci]
  packages/config/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,yaml,yml,md}
  eslint --fix: any of: *.{t,j}s
