Repository adambullmer/semantic-commit-emoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:sparkles:feat: Upgrade node types to 20.x to match pinned version
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Cleanup unused dependencies
  .yarnrc.yml
  package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
  yarn.lock
Due: prettier --write

:recycle:refactor: Replace cosmiconfig ts loader package
  packages/config/index.ts
  packages/config/package.json
  yarn.lock
Due: prettier --write, eslint --fix

:label:types: Use type only import
  .semantic-commit-emojirc.ts
Due: eslint --fix

:sparkles:feat!: Convert packages to type module and update ts outputs
  commitlint.config.js
  commitlint.config.ts
  package.json
  packages/cli/cli.ts
  packages/cli/lib/process-file.ts
  packages/cli/package.json
  packages/commitlint-config/index.ts
  packages/commitlint-config/package.json
  packages/commitlint-plugin/index.ts
  packages/commitlint-plugin/package.json
  packages/commitlint-plugin/parser.ts
  packages/config/package.json
  tsconfig.json
Due: prettier --write, eslint --fix

:construction_worker:ci: Remove incompatible ci runtime
  .github/workflows/nodejs.yml
Due: prettier --write

:sparkles:feat!: Update engine constraint in all packages
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:wrench:chore: Replace jest with vitest
  package.json
  packages/cli/package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Createt vitest workspace and project files
  packages/cli/jest.config.js
  packages/cli/vitest.config.ts
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix

:microscope:test: Convert test files from jest to vitest
  packages/cli/__snapshots__/index.spec.ts.snap
  packages/cli/index.spec.ts
  packages/cli/lib/process-files.spec.ts
Due: eslint --fix

:wrench:chore: Modularize tsconfig files
  packages/cli/tsconfig.json
  packages/commitlint-config/tsconfig.json
  packages/commitlint-plugin/tsconfig.json
  packages/config/tsconfig.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.config.json
  tsconfig.json
  tsconfig.test.json
Due: prettier --write

:microscope:test: Fix relative file imports
  packages/cli/index.spec.ts
  packages/cli/lib/process-files.spec.ts
Due: eslint --fix

:wrench:chore(commitlint-plugin): Add pre and post pack scripts
  packages/commitlint-plugin/package.json
Due: prettier --write

:wrench:chore: Delete jest dependencies
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Sync node types version
  package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Migrate release config to esm
  release.config.mjs
Due: none

:wrench:chore: Use node-linker to fix semantic-release-monorepo issues
  .yarnrc.yml
Due: prettier --write

:wrench:chore: Lower semantic-release and release-notes-generator for compat
  package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Replace semantic release npm with yarn plugin
  package.json
  release.config.mjs
  yarn.lock
Due: prettier --write

:wrench:chore: Refine dependency versions to fix release
  package.json
  yarn.lock
Due: prettier --write

:bookmark:chore: Release v2.0.0 [skip ci]
  packages/commitlint-plugin/package.json
Due: prettier --write

Notes added by 'git notes add'
  77adb43e6c3fbb2c84a54bdcc98b3f6810e0d640
Due: none

:bookmark:chore: Release v2.0.0 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  7f68c30baf705f7cb9d130a0d21b13f06b0bbc0a
Due: none

:bookmark:chore: Release v2.0.0 [skip ci]
  packages/config/package.json
Due: prettier --write

Notes added by 'git notes add'
  ad38d1d472d938014dd733aabe06f40adce7997e
Due: none

:bookmark:chore: Release v1.0.0 [skip ci]
  packages/cli/package.json
Due: prettier --write

Notes added by 'git notes add'
  194a6b7ed082ee07214f80403a478f1e4219fc88
Due: none

:wrench:chore: Temporarily remove pre/post pack scripts
  scripts/postpack.sh
  scripts/prepack.sh
Due: none

Notes added by 'git notes add'
  da9b3b09f0433ed2e9b7fe18b5e65fd82bb30691
Due: none

:construction_worker:ci: Add semantic release CI workflow
  .github/workflows/release.yml
Due: prettier --write

:wrench:chore: Update release and pubish scripts
  package.json
  scripts/release-tarball
Due: prettier --write

:construction_worker:ci: Prebuild apps
  .github/workflows/release.yml
Due: prettier --write

:ambulance:hotfix: Bump version
  packages/commitlint-config/README.md
Due: prettier --write

Notes added by 'git notes add'
  dd9111fc953799c25dec9a57028215eff6731854
Due: none

:construction_worker:ci: Authenticate with NPM before publishing
  .github/workflows/release.yml
Due: prettier --write

:bookmark:chore: Release v2.0.1 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  8fe0ca4702b6f9990a841d898387fb7621541662
Due: none

:ambulance:hotfix: Bump version to fix bad upload
  packages/cli/README.md
Due: prettier --write

:bookmark:chore: Release v1.0.1 [skip ci]
  packages/cli/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,yaml,yml,md}
  eslint --fix: any of: *.{t,j}s
