Repository adambullmer/semantic-commit-emoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:wrench:chore: Update semantic release branch config
  release.config.js
Due: eslint --fix

:wrench:chore: Configure release scripts for new yarn workspaces
  package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:wrench:chore: Release v0.6.0 [skip ci]
  packages/cli/package.json
Due: prettier --write

Notes added by 'git notes add'
  1425362f7e4add24a4f6e0e03ff4a0f1821b14b2
Due: none

:wrench:chore: Add yarn interactive plugin
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
Due: prettier --write

:wrench:chore: Update release scripts to manually call pre/post scripts
  package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
Due: prettier --write

:wrench:chore: Add central release script
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
  scripts/release-tarball
Due: prettier --write

:wrench:chore: Update dev dependencies
  package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  packages/config/package.json
  yarn.lock
Due: prettier --write

:pencil:docs: Update README with correct type commit type
  README.md
Due: prettier --write

:bug:fix: Run pre/post publish scripts to resolve workspace: versions
  packages/cli/package.json
  packages/commitlint-config/package.json
  scripts/postpublish.sh
  scripts/prepublish.sh
Due: prettier --write

:bug:fix: Install and initial build errors
  .yarnrc.yml
  package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  5a67817940b2b3dc44bbaeb2e6f986ddbb52e899
Due: none

:bookmark:chore: Release v0.6.1 [skip ci]
  packages/cli/package.json
Due: prettier --write

:bookmark:chore: Release v1.0.3 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

:wrench:chore: Turn off errors on length commit body/footers
  commitlint.config.js
  release.config.js
Due: eslint --fix

:wrench:chore: Update lockfile resolutions
  yarn.lock
Due: none

Notes added by 'git notes add'
  95fa76e476e609250d63611586e13d10d8226db3
Due: none

:bookmark:chore: Release v1.0.4 [skip ci]
  packages/commitlint-plugin/package.json
Due: prettier --write

Notes added by 'git notes add'
  6d81392e14336ad1733b3adace5e5a02ea7bb74b
Due: none

:bookmark:chore: Release v1.0.4 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  5322fd7079173a93db46a3da658b7d7f2ba98128
Due: none

Notes added by 'git notes add'
  b1cc507c58a9c49e11dc8683f92efa391baad81b
Due: none

:bug:fix: Update supported node engine to match rest of project
  packages/cli/package.json
Due: prettier --write

:bug:fix: Update release scripts to work with packing instead of publishing
  packages/cli/package.json
  packages/commitlint-config/package.json
  scripts/postpack.sh
  scripts/prepack.sh
Due: prettier --write

Notes added by 'git notes add'
  fe403ff206edfdd704cd5d742151fc0868759e13
Due: none

:bookmark:chore: Release v1.0.5 [skip ci]
  packages/commitlint-config/package.json
Due: prettier --write

Notes added by 'git notes add'
  293f19578c4f31ed2e07453b5c8b2e42adfbfa7a
Due: none

:bookmark:chore: Release v0.6.2 [skip ci]
  packages/cli/package.json
Due: prettier --write

Notes added by 'git notes add'
  105267aec602845eb147c3bbb62131bb0dfcb572
Due: none

chore: Add nvmrc file to lock expected node version
  .nvmrc
Due: none

:sparkles:feat: Upgrade yarn to latest 4.4.1
  .gitattributes
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-berry.js
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

:wrench:chore: Update husky to latest 9.1.6
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

:wrench:chore: Upgrade lint-staged to latest version 15.2.10
  .lintstagedrc
  lint-staged.config.mjs
  package.json
  yarn.lock
Due: prettier --write

:wrench:chore: Pin node version with nvmrc
  .nvmrc
Due: none

:construction_worker:ci: Update CI dependencies and runtimes
  .github/workflows/nodejs.yml
Due: prettier --write

:wrench:chore: Upgrade eslint, prettier, typescript, jest, and supporting plugins
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/commitlint-config/package.json
  packages/commitlint-config/tsconfig.json
  packages/commitlint-plugin/package.json
  packages/commitlint-plugin/tsconfig.json
  packages/config/package.json
  packages/config/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

:sparkles:feat!: Update commitlint and semantic-release depentencies
  package.json
  packages/commitlint-config/package.json
  packages/commitlint-plugin/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,yaml,yml,md}
  eslint --fix: any of: *.{t,j}s
